
body {
	width:50%;
	margin:0 auto;
	background-color:rgb(0,255,127);
	background-color:rgba(0,255,127,0.8);
	font-family:Arial, Verdana, sans-serif;
	font-size:16px;
	color:#000000;
	padding:5%;
	/*REMOVE THIS BEFORE SEND, need to resize images*/
	max-width: 640px;
	float: none;
    display: block;
    width: auto;
}
.container {
    position: relative;
    width: 100%;
    background-color: #fff;
 
}
nav {
	font-family:Arial, Verdana, sans-serif;
	color:#ffffff;
	font-size:200%;
	text-align:center;
	background-color:#9932cc;
	padding:2%;
	word-spacing: 1em;
}
header {
	font-family: 'Maiden Orange', Verdana, sans-serif;
	text-align: center;
	padding: 2%;
	font-size:203%;
	font-weight:bold;
	color:#9932cc;
	background-color:#fff;
}
@font-face {
  font-family: 'Maiden Orange', cursive;
  src: url("C:\Users\Jade\Desktop\16_09_22 Website\MaidenOrange.ttf");
  format("truetype");

}
img {
	border-radius: 8px;
	box-shadow: 2px 2px 3px #888888;
}
.image_row {
	width:100%;
	margin: 0 auto;
	padding:2%;
	/*REMOVE THIS BEFORE SEND, need to resize images*/
}
h2, h3{
	color:#00b359;
	font-size:170%;
	font-weight:bold;
	padding:2%;
	margin-bottom:10px;
}
 


a {
	font-size:100%;
	text-decoration:none;
	font-weight:bold;
	color:#9932cc;
}
a:hover {
	color:#ff0000;
}
nav a {
	color:white;
}
nav a:hover {
	color:white;
}

blockquote {
	float:right;
	font-style:italic;
	font-family: Georgia, Times, serif;
	padding:5px;
	margin:5px;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	font-size:70%;
	width:30%;
}
form {
	margin:2%;
}


input, textarea {
    width: 50%;
    font-family: Georgia, Times, serif;
    font-size:100%;
    background-color:lightblue 
      }

input[type="submit"] {
 width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    font-weight:bold;
    font-size:20px;
    color:#ffffff;
    background-color:rgb(255, 0, 255);
  
}
textarea {
    width:80%;
    height:150px;
 }

footer {
 	width:50%;
	margin: 0 auto;
	background-color:rgb(0,255,127);
	background-color:rgba(0,255,127,0.8);
	font-family:Arial, Verdana, sans-serif;
	font-size:16px;
	color:#000000;
	padding:5%;
	/*REMOVE THIS BEFORE SEND, need to resize images*/
	max-width: 640px;
	float: none;
    display: block;
    width: auto;
}

p {
	padding-left: 2%;
    padding-right: 2%;

